* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
}

.main-nav {
	background-color: rgba(117, 125, 167, 0.9);
	backdrop-filter: blur(5px);
}

.nav-link {
	margin-right: 8px;
}

.main-nav-link:hover {
	background-color: #8B95C9 !important;
	border-radius: 20px;
}

body {
  background: url(images/background.svg)
}

.main-text {
	color: white;
	text-align: justify;
}

.self-pic	{
	border: 10px solid #8B95C9;
    border-radius: 50%;
    box-shadow: 5px 10px #1a181bb5;
}

#my-logo {
	width: 60px;
	margin-right: 15px;
}

.jumbotron-home {
	background-color: #8B95C9;
	padding: 25px;
  border-radius: 85px;
  text-align: center;
  margin-top: 25px;
  box-shadow: 5px 10px #1a181bb5
}

.container-landing{
	display: flex;
  justify-content: center
}

.overview-carousel {
	padding: 20px;
}
.overview {
	text-align: center;
  background-color: #1a181bb5;
  border-radius: 20px;
  box-shadow: 5px 10px #8B95C9;
  padding: 25px;
}
.project-overview {
	text-align: center;
	color: #fff;
	border: 5px solid #8B95C9;
	background-color: #8B95C9;
	border-radius: 20px;
  display: inline-block;
  padding: 0 40px;
}

.container-about-me {
	background-color: #1a181bb5;
	border-radius: 20px;
	border: 5px solid #8B95C9;
	box-shadow: 5px 10px #8B95C9;
	text-align: center;
}

.text-about-me {
		padding: 0 40px;
		text-align: center;
		color: #fff;
		border: 5px solid #8B95C9;
		background-color: #8B95C9;
		border-radius: 20px;
	  display: inline-block;
	  margin-bottom: 20px;
}

.skills	{
		text-align: center;
		color: #fff;
		border: 5px solid #8B95C9;
		background-color: #8B95C9;
		border-radius: 20px;
	  display: inline-block;
	  padding-left: 50px;
	  padding-right: 50px;
}

.project-card {
	width: 18rem;
}


.progress-container {
	display: flex;
	align-items: center;
}

h4 {
	margin-bottom: 0;
}

.progress {
	flex: 1;
}

.progress-label {
	width: 12%;
}

.fa-gitlab.fa-2xl {
	color: #fff;
}

.gitlab-progress-bar {
	background-color: #8B95C9;
	width: 80%;
}

.fa-html5 {
	color: #fff;
}

.html-progress-bar {
	background-color: #6976b3;
	width: 90%;
}

.fa-css3-alt {
	color: #fff;
}

.css-progress-bar {
	background-color: #8B95C9;
	width: 80%;
}

.fa-bootstrap {
	color: #fff;
}

.bootstrap-progress-bar {
	background-color: #9fa6c9;
	width: 70%;
}

.fa-square-js {
	color: #fff;
}

.js-progress-bar {
	width: 0;
}

.p-about-me {
	color: white;
}

.container-projects {
	background-color: #1a181bb5;
	border-radius: 20px;
  box-shadow: 5px 10px #8B95C9;
}

.cards-bg {
	text-align: center;
  background-color: #8B95C9;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 25px;
}

.nav-tabs {
	background-color: #8B95C9;
	justify-content:  space-evenly;
}

.project-header{
	text-align: center;
}

.project-title {
	padding: 0 40px;
	text-align: center;
	color: #fff;
	border: 5px solid #8B95C9;
	background-color: #8B95C9;
	border-radius: 20px;
  display: inline-block;
}

.bg-contact {
	text-align: center;
	background-color: #1a181bb5;
	border-radius: 20px;
	border: 5px solid #8B95C9;
	box-shadow: 5px 10px #8B95C9;
}

.contact-text {
		padding: 0 40px;
		text-align: center;
		color: #fff;
		border: 5px solid #8B95C9;
		background-color: #8B95C9;
		border-radius: 20px;
	  display: inline-block;
	  margin-bottom: 20px;
}

button.active {
	background-color: #1a181bb5 !important;
	color: #fff !important;

}

button.nav-link {
	background-color: rgba(232, 248, 193, 1.0);
}

.card a {
	background-color: #8B95C9 !important;
}

.footer {
	background-color: rgba(117, 125, 167, 0.9);
	backdrop-filter: blur(5px);
}

.footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.footer-icons a {
	color: #fff;
	text-decoration: none;
}

a.btn , .btn-submit-modal, a.nav-link {
	color:  #fff;
	font-size: 16px;
}

a.nav-link {
	text-align: center;
}

a.btn:hover , .btn-submit-modal:hover {
	color: rgba(255,255,255,.75);
}

.bg-contact-outer {
	background-color: #453750;
}

.btn-submit-modal , .card a, .btn-coffee, .btn-close {
	box-shadow: none !important;
}

.btn-submit-modal {
	background-color: rgb(120 102 135 / 50%);
}

.socials {
	font-size: 50px;
}

.social-text {
	padding: 0 40px;
	text-align: center;
	color: #453750;
	border: 5px solid #8B95C9;
	background-color: #8B95C9;
	border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
}

.contact-form {
	background-color: #8B95C9;
	padding: 10px;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border:0;
}

.address-text {
	padding: 0 40px;
	text-align: center;
	color: #453750;
	border: 5px solid #8B95C9;
	background-color: #8B95C9;
	border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  color:  #fff;
}

.spacer {
	height: 6rem;
}

.btn-coffee {
	padding: 0 40px;
	text-align: center;
	color: #453750;
	border: 5px solid #8B95C9;
	background-color: #8B95C9;
	border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;

}

.btn-send {
	background-color: #1a181bb5;
}